@import "tailwindcss";

:root {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(36, 36, 36);
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, rgba(36, 36, 36, 1) 0%, rgba(38, 38, 38, 1) 50%, rgba(32, 32, 32, 1) 100%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}